.countdown, .countdown-block{
    text-align: right;
}

.flip-clock{
    text-align: right!important;
}

body{
    background-image: url('../assets/ehimetalor-akhere-unuabona-TvJk52iLxQA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.normal-input{
    width: 17%;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.input-checkbox{
    width: unset!important;
    vertical-align: middle;
}

.whatsapp{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 50px;
}

.btn{
    height: 30px;
    background-color: orange;
    color: #fff;
    width: 100px;
    border-radius: 5px;
}


@media (max-width: 768px){
    body{
        background-image: url('../assets/ehimetalor-akhere-unuabona-TvJk52iLxQA-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: initial;
        color: white;
        background-position: center;
    }

    .countdown, .countdown-block{
        text-align: center;
    }
    
    .flip-clock{
        text-align: center!important;
    }

    .normal-input{
        width: 50%;
        height: 30px;
        margin-top: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .input-checkbox{
        width: unset!important;
        vertical-align: middle;
    }

    .btn{
        height: 40px;
        background-color: orange;
        color: #fff;
        width: 25%;
        margin-top: 10px;
        border-radius: 5px;
    }

    .form-group{
        padding-top: 35px;
    }

    .form label{
        font-weight: bold;
    }
}